= form_for @status, remote:true do |f|
  .status_errors=render partial: 'layouts/errors', locals: { resource: @status }
  .form-group.row
    = f.label :name, class: 'col-sm-2 col-form-label col-form-label-lg'
    .col-sm-12
      = f.text_field :name, class: "form-control form-control-lg", placeholder: "New status name"
  .form-group.row
    = f.submit class: "btn btn-primary pull-right"
