.container    
  .mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ style: "margin-top:50px;" }                    
    .panel.panel-info
      .panel-heading
        .panel-title Sign In
      .panel-body{ style: "padding-top:30px;" }
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .input-group{ style: "margin-bottom: 25px" }
            %span.input-group-addon
              %i.glyphicon.glyphicon-user
            = f.email_field :email, autofocus: true, class: 'form-control'
          .input-group{ style: "margin-bottom: 25px" }
            %span.input-group-addon
              %i.glyphicon.glyphicon-lock
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group{ style: "margin-top:10px" }
            .col-sm-12.controls
              = f.submit "Log in", class: 'btn bsuccess'
