
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      -if user_signed_in?
        %ul.nav.navbar-nav
          %li
            = link_to 'Issues', issues_path
        %form.navbar-form.navbar-left
          .form-group
            %input.form-control{'type' => "text", 'placeholder' => "Search" }
            %button.btn.btn-default{ 'type'=>"submit" }
              Submit
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'Logout', destroy_user_session_path, :method => :delete
      -else
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'Login', new_user_session_path
